/* Default CSS Style */

body {
  margin: 20px;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0.5em 0;
  color: #000000;
}

p {
  margin: 0;
  padding: 0.5em 0;
  line-height: 1.5;
}

p.error {
  color: crimson;
  opacity: 0.7;
  font-size: smaller;
}

button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  margin: 10px 0;
  padding: 8px 12px;
  text-align: center;
  font-size: smaller;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
}

button.emphasize {
  background-color: #000000;
  color: #ffffff;
}

button.emphasize:hover {
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #0073ee;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input[type="text"], input[type="password"], textarea {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 10px; 
  margin: 8px 0;
  background-color: #f0f0f0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px 12px;
  text-align: left;
  font-size: smaller;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f2f2f2;
}

/* Title */
table.data th:nth-child(1), 
table.data td:nth-child(1) {
  width: auto;
}

/* Description */
table.data th.data:nth-child(2),
table.data td:nth-child(2) { 
  width: auto;
}

/* Date */
table.data th:nth-child(3),
table.data td:nth-child(3) {
  width: 150px;
}

/* Actions */
table.data th:nth-child(4),
table.data td:nth-child(4),
table.data th:nth-child(5),
table.data td:nth-child(5) {
  width: 20px; 
  text-align: center;
}
